{% extends "./layout-default.html" %}

{% set pageData = {
  page_id: 'home',
  template: 'index'
} %}

{% block content %}

  <main class="o-main py-5">
    <div class="container">
      <div class="row">
        <div class="col-7">
          <h1 class="ms-n1">{{ title | safe }}</h1>
          {% if description is defined and description | length > 0 %}
            <p class="lead">{{ description | md | safe }}</p>
          {% endif %}
          <a class="btn btn-primary btn-lg" href="#" role="button">Nabídka bytů</a>
        </div>
      </div>
    </div>
    <section class="section">
      <div class="container">
        <div class="row row-cols-2 row-cols-md-3 row-cols-xl-6 text-center">
          <div class="col">
            <strong>soukromé parkování před domem</strong>
          </div>
          <div class="col">
            <strong>volitelné možnosti financování</strong>
          </div>
          <div class="col">
            <strong>skvělá dopravní dostupnost</strong>
          </div>
          <div class="col">
            <strong>plná občanská vybavenost v&nbsp;okolí</strong>
          </div>
          <div class="col">
            <strong>lokalita v samém srdci Šumperka</strong>
          </div>
          <div class="col">
            <strong>výtah pro efektivní pohyb v&nbsp;rezidenci</strong>
          </div>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="row mb-5 mb-lg-6">
          <div class="col-lg">
            <h2 class="mb-lg-5"><span class="suptitle ps-1">Představení projektu</span> Spojení historie s&nbsp;moderním bydlením</h2>
            <p>Residence Radniční je&nbsp;jedinečný bytový projekt situovaný přímo v&nbsp;centru města Šumperka – na&nbsp;adrese <strong class="text-primary">Radniční&nbsp;4</strong>. V&nbsp;rámci citlivé rekonstrukce vznikne <strong class="text-primary">17&nbsp;bytových jednotek</strong>, které nabídnou svým obyvatelům nejen komfortní a&nbsp;úsporné bydlení, ale i&nbsp;atmosféru lokality s&nbsp;duší a&nbsp;tradicí. Projekt&nbsp;klade důraz na <strong class="text-primary">kvalitní provedení, dlouhodobou udržitelnost a&nbsp;logické dispozice</strong>, které odpovídají potřebám moderního života.</p>
            <p>Každý byt je&nbsp;navržen s&nbsp;maximální pečlivostí – s&nbsp;důrazem na dostatek denního světla, promyšlené úložné prostory a&nbsp;kvalitní materiály. Rekonstrukce přinese také moderní technické vybavení:</p>
            <ul class="text-primary">
              <li><strong>samostatné vytápění každého bytu</strong></li>
              <li><strong>nové rozvody elektřiny a&nbsp;vody</strong></li>
              <li><strong>dálkové měření spotřeby energií</strong></li>
              <li><strong>moderní výtah</strong></li>
              <li><strong>řešení vedoucí k&nbsp;nízkým provozním nákladům</strong></li>
            </ul>
            <p>K většině bytů náleží soukromé parkovací místo přímo u domu, což&nbsp;výrazně zvyšuje pohodlí každodenního života v centru města.</p>
          </div>
          <div class="col-lg order-lg-first">
            <strong>soukromé parkování před domem</strong>
          </div>
        </div>
        <div class="row mb-5 mb-lg-6">
          <div class="col-lg">
            <h2 class="mb-lg-5">Citlivá rekonstrukce, silné zázemí</h2>
            <p>Na projektu spolupracují dvě stabilní společnosti ze skupiny <strong class="text-primary">Prumrent Real Group</strong> – developer <strong class="text-primary">Prumrent</strong> a stavební partner <strong class="text-primary">Fortis Morava</strong>, který zajišťuje samotnou realizaci.</p>
            <p>Díky jejich zkušenostem a detailnímu přístupu je zaručeno, že projekt bude dokončen kvalitně, bezpečně a s respektem k okolní zástavbě i původní architektuře.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">více o developerovi</a>
            <a class="btn btn-primary btn-lg" href="#" role="button">více o realizátorovi</a>
          </div>
          <div class="col-lg">
            <strong>soukromé parkování před domem</strong>
          </div>
        </div>
        <div class="row mb-5 mb-lg-6">
          <div class="col-lg">
            <h2 class="mb-lg-5">Pro koho je<br>Residence Radniční?</h2>
            <p><strong class="text-primary">Pro páry i jednotlivce</strong>, kteří chtějí mít městský život na dosah ruky.</p>
            <p><strong class="text-primary">Pro rodiny</strong>, které hledají pohodlné zázemí s&nbsp;kompletní občanskou vybaveností v&nbsp;pěší	vzdálenosti.</p>
            <p><strong class="text-primary">Pro investory</strong>, kteří chtějí zhodnotit své prostředky v&nbsp;atraktivní lokalitě s&nbsp;vysokou poptávkou po&nbsp;nájemním bydlení.</p>
          </div>
          <div class="col-lg order-lg-first">
            <strong>soukromé parkování před domem</strong>
          </div>
        </div>
      </div>
    </section>
    <section class="section overflow-hidden py-0">
      <div class="container">
        <div class="row mb-5 mb-lg-6 g-5">
          <div class="col-lg">
            <h2 class="mb-lg-5 ms-n1"><span class="suptitle">Lokalita</span> Život v centru dění – s&nbsp;klidem a&nbsp;pohodlím domova</h2>
            <p>Bydlení v&nbsp;Rezidenci Radniční znamená mít <strong class="text-primary">všechno důležité doslova za&nbsp;rohem</strong>. Projekt se nachází v&nbsp;jedné z&nbsp;nejvýznamnějších a&nbsp;historicky nejhodnotnějších částí města – <strong class="text-primary">na&nbsp;adrese Radniční&nbsp;4 v&nbsp;Šumperku</strong>, jen pár kroků od&nbsp;hlavního náměstí. Tato lokalita je&nbsp;ideální pro všechny, kdo chtějí spojit městský život s&nbsp;klidem a&nbsp;soukromím, které nabízí bytový dům v&nbsp;postranní ulici.</p>
            <h3 class="mt-lg-5 mt-xl-6">Vše po ruce, nic daleko</h3>
            <p>Díky výborné <strong class="text-primary">občanské vybavenosti, dopravní dostupnosti a&nbsp;příjemnému okolnímu prostředí</strong> je lokalita vhodná jak pro mladé páry, tak i&nbsp;pro rodiny s&nbsp;dětmi nebo seniory, kteří chtějí bydlet bez nutnosti dojíždění za službami.</p>
          </div>
          <div class="col-lg">
            <div class="card bg-primary text-secondary rounded-5 border-0 shadow-lg p-xl-3">
              <div class="card-body p-lg-5">
                <h2 class="h4 card-title mb-4">Centrum, které žije – a&nbsp;respektuje soukromí</h2>
                <p class="card-text">Radniční ulice nabízí kombinaci historického charakteru s&nbsp;komorní atmosférou. Ačkoli se&nbsp;jedná o&nbsp;centrum města, lokalita nepůsobí rušivě. Díky poloze mimo hlavní dopravní tahy tu&nbsp;najdete klid pro každodenní život, ale i&nbsp;živou atmosféru města, kdykoli po&nbsp;ní&nbsp;zatoužíte.</p>
                <h2 class="h4 text-reset mt-5">Blízko přírodě</h2>
                <p class="card-text mb-6">I&nbsp;když se jedná o&nbsp;městské bydlení, z&nbsp;Radniční to není daleko ani do&nbsp;zeleně. V&nbsp;docházkové vzdálenosti se&nbsp;nachází parky a&nbsp;volnočasové zóny – ideální pro&nbsp;odpočinek, procházky nebo sportovní aktivity.</p>
              </div>
            </div>
          </div>
        </div>
        <h3 class="text-center mb-5">V pěší vzdálenosti najdete</h3>
        <div class="row row-cols-2 row-cols-md-3 row-cols-xl-6 text-center mb-5 mb-lg-6">
          <div class="col">
            <strong class="text-primary">obchody a&nbsp;supermarket</strong> pro každodenní nákupy
          </div>
          <div class="col">
            <strong class="text-primary">restaurace, kavárny, pekárny a&nbsp;služby</strong>
          </div>
          <div class="col">
            <strong class="text-primary">lékaře, lékárnu, poštu i&nbsp;banky</strong>
          </div>
          <div class="col">
            <strong class="text-primary">mateřské, základní i&nbsp;střední školy</strong>
          </div>
          <div class="col">
            <strong class="text-primary">kulturní a&nbsp;sportovní vyžití</strong> – kino, knihovnu, městskou sportovní halu, bazén a&nbsp;fitness
          </div>
          <div class="col">
            <strong class="text-primary">zastávky MHD</strong> i&nbsp;vlakové nádraží v&nbsp;dostupné vzdálenosti
          </div>
        </div>
      </div>
    </section>
    <section class="section bg-sixrow py-0 mb-5 mb-lg-6">
      <div class="container">
        <div class="ratio ratio-21x9 shadow-lg rounded-4 overflow-hidden">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2566.4690123376918!2d16.969287877319434!3d49.965062371503535!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47121a5426a5ba5d%3A0x7aee34afad10ab0d!2zUmFkbmnEjW7DrSAyMzEvNCwgNzg3IDAxIMWgdW1wZXJrIDE!5e0!3m2!1scs!2scz!4v1756474641524!5m2!1scs!2scz"></iframe>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="row mb-5 mb-lg-6">
          <div class="col-lg">
            <h2><span class="suptitle ps-1">Nabídka bytů</span> Váš nový domov, navržený s&nbsp;rozmyslem</h2>
          </div>
          <div class="col-lg">
            <p>Projekt nabízí celkem <strong class="text-primary">17&nbsp;bytových jednotek</strong>, které se&nbsp;liší výměrou i&nbsp;dispozičním řešením – od&nbsp;kompaktních <strong class="text-primary">1+kk</strong> ideálních pro single či&nbsp;páry, po&nbsp;prostornější byty vhodné i&nbsp;pro rodinu.</p>
            <p>Každý byt je navržen tak, aby co&nbsp;nejlépe využil prostor, světlo a&nbsp;nabídl vysoký komfort bydlení.</p>
            <p>Vysoký standard provedení, kvalitní materiály, důraz na&nbsp;akustiku a&nbsp;energetickou úsporu jsou pro nás samozřejmostí. <strong class="text-primary">K vybraným bytům náleží soukromé parkovací stání přímo u&nbsp;domu.</strong></p>
          </div>
        </div>
        <div class="table-responsive mb-5 mb-lg-6">
          <table class="table table-hover text-nowrap">
            <thead>
              <tr class="lh-sm">
                <th scope="col">Byt</th>
                <th scope="col">Podlaží</th>
                <th scope="col">Dispozice</th>
                <th scope="col">Plocha</th>
                <th scope="col">Balkon</th>
                <th scope="col">Cena bytu</th>
                <th scope="col">Cena park. stání<sup>*</sup></th>
                <th scope="col">Status</th>
                <th scope="col">Karta bytu</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><strong>ddd</strong></td>
                <td>ddd</td>
                <td>ddd</td>
                <td>dd m&sup2;</td>
                <td>dd</td>
                <td><strong class="text-secondary text-nowrap">ggg  Kč</strong></td>
                <td><strong class="text-nowrap">fff  Kč</strong></td>
                <td>fff</td>
                <td><strong><a href="{{ apartment.url }}" target="_blank">Stáhnout PDF</a></strong></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="cta-main bg-primary p-4 p-sm-5 mb-5 mb-lg-6 shadow-lg">
          <div class="row align-items-center text-secondary py-lg-2 gy-4">
            <div class="col-xl">
              <h2 class="h4 text-reset lh-sm mb-0">Máte zájem o&nbsp;koupi bytu v&nbsp;Rezidenci Radniční?<br>Potřebujete poradit s&nbsp;výběrem bytu?</h2>
            </div>
            <div class="col-auto">
              <a class="btn btn-primary btn-lg" href="#" role="button">kontaktujte nás</a>
            </div>
          </div>
        </div>        
      </div>
    </section>
    <section class="section bg-sixrow py-0 mb-5 mb-lg-6">
      <div class="container">
        <div class="text-center">
          <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/assets/images/gallery/rezidence-radnicni-01.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/assets/images/gallery/rezidence-radnicni-02.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/assets/images/gallery/ico-email.svg" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container overflow-hidden">
        <div class="row justify-content-center mb-5 mb-lg-6">
          <div class="col-lg-5">
            <h2 class="mb-lg-5"><span class="suptitle ps-1">Financování</span> Přizpůsobíme se vašim možnostem</h2>
            <p class="lead">Víme, že každý má jiné preference a&nbsp;finanční možnosti. Proto nabízíme tři transparentní a&nbsp;férové způsoby financování:</p>
          </div>
          <div class="col-lg-5">
            <strong>soukromé parkování před domem</strong>
          </div>
        </div>
        <div class="row g-5">
          <div class="col-md">
            <h3 class="h4">Platba za hotové –<br>nejlepší cena</h3>
            <p>Zaplaťte jednorázově a&nbsp;získejte <strong class="text-primary">nejvýhodnější možnou cenu</strong>. Nabízíme <strong class="text-primary">atraktivní slevu</strong> ze&nbsp;základní ceny při&nbsp;platbě bez financování.</p>
          </div>
          <div class="col-md">
            <h3 class="h4">Hypotéka –<br>výhodněji s námi</h3>
            <p>Kupujete na úvěr? Pomůžeme vám se&nbsp;zajištěním hypotéky – a&nbsp;pokud zvolíte <strong class="text-primary">hypotéku od ČSOB</strong>, můžete získat <strong class="text-primary">slevu na&nbsp;úrokové sazbě</strong>. Rádi vám vše vysvětlíme a&nbsp;propojíme Vás s&nbsp;našimi specialisty.</p>
          </div>
          <div class="col-md">
            <h3 class="h4">Splátkový kalendář –<br>na míru</h3>
            <p>Připravujeme možnost <strong class="text-primary">individuálního splátkového řešení</strong>. Pokud vás tato varianta zajímá, ozvěte se&nbsp;nám – rádi vám představíme možnosti, jak&nbsp;vše nastavit podle vašich potřeb.</p>
          </div>
        </div>
        <hr>
      </div>      
    </section>
    <section class="section overflow-hidden">
      <div class="container pb-5">
        <div class="row mb-5 mb-lg-6 g-5">
          <div class="col-lg">
            <h2><span class="suptitle ps-1">Developer</span> Prumrent <span class="d-block">Real Group</span></h2>
          </div>
          <div class="col-lg">
            <p>Jsme stabilní developerská skupina působící převážně v&nbsp;regionu Šumperka a&nbsp;okolí. Specializujeme se na komplexní development rezidenčních, komerčních i&nbsp;multifunkčních projektů, které přinášejí kvalitní a&nbsp;dlouhodobě udržitelné řešení bydlení a&nbsp;podnikání.</p>
          </div>
          <div class="col-lg">
            <p>Naše projekty stavíme s&nbsp;důrazem na vysokou kvalitu zpracování, citlivý přístup k&nbsp;lokalitě a&nbsp;potřeby budoucích obyvatel i&nbsp;uživatelů. Snažíme se vytvářet místa, která mají duši a&nbsp;zároveň splňují nároky moderního života.</p>
          </div>
        </div>
        <div class="row mb-5 mb-lg-6 g-5">
          <div class="col-lg">
            <div class="card bg-primary text-secondary rounded-5 border-0 shadow-lg">
              <div class="card-body p-lg-5">
                <h2 class="h3 card-title mb-5">Portfolio služeb</h2>
                <div class="row row-cols-1 row-cols-md-2 g-5">
                  <div class="col">
                    <h3 class="h5 text-reset mb-3"><sup class="text-white">01</sup> Rezidenční development</h3>
                    <p class="card-text">Navrhujeme a&nbsp;realizujeme bytové projekty přizpůsobené potřebám moderního bydlení.</p>
                  </div>
                  <div class="col">
                    <h3 class="h5 text-reset mb-3"><sup class="text-white">02</sup> Komerční development</h3>
                    <p class="card-text">Budujeme prostor pro&nbsp;podnikání, který spojuje funkčnost a&nbsp;atraktivitu.</p>
                  </div>
                  <div class="col">
                    <h3 class="h5 text-reset mb-3"><sup class="text-white">03</sup> Revitalizace a&nbsp;rekonstrukce</h3>
                    <p class="card-text">Proměňujeme starší objekty v&nbsp;moderní a&nbsp;efektivní prostory.</p>
                  </div>
                  <div class="col">
                    <h3 class="h5 text-reset mb-3"><sup class="text-white">04</sup> Projektové řízení a&nbsp;konzultace</h3>
                    <p class="card-text">Pomáháme klientům s&nbsp;kompletní realizací od&nbsp;konceptu až&nbsp;po&nbsp;předání.</p>
                  </div>
                  <div class="col">
                    <h3 class="h5 text-reset mb-3"><sup class="text-white">05</sup> Správa nemovitostí</h3>
                    <p class="card-text">Nabízíme služby profesionální správy a&nbsp;údržby našich i&nbsp;klientských objektů.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <h3 class="mb-lg-5 pt-5">Naše hodnoty</h3>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Transparentnost a férovost vůči	klientům</li>
              <li class="list-group-item">Kvalita a detail v každém kroku	developmentu</li>
              <li class="list-group-item">Udržitelnost a ohled na životní	prostředí</li>
              <li class="list-group-item">Spolupráce s místní komunitou a	podpora regionu</li>
            </ul>
            <a class="btn btn-primary btn-lg bg-white border-white" href="#" role="button">více o developerovi</a>
          </div>          
        </div>
      </div>
    </section>
  </main>

{% endblock %}
