<footer class="o-footer" id="kontakt">
  <div class="container overflow-hidden">
    <h2 class="mb-lg-5 ms-n1"><span class="suptitle">Kontakt</span> Zaujala vás nabídka?<br>Jsme vám k dispozici</h2>
    <div class="row mb-5 gx-5">
      <div class="col-md-7 col-lg-6 col-xl-5">
        <p class="lead">Neváhejte se na nás obrátit – rádi vám představíme celý projekt, pošleme nabídku volných bytů nebo pomůžeme s&nbsp;financováním.</p>
      </div>
      <div class="col-md col-lg-4 col-xl-3">
        <p class="lead">Máme zájem, aby vaše cesta k&nbsp;novému domovu byla co&nbsp;nejpohodlnější.</p>
      </div>
    </div>
    <div class="row mb-4 mb-lg-5 gx-md-5 gy-4">
      <div class="col-md-6 col-xl-4 d-flex align-items-center">
        <div><img src="/assets/images/ico-location.svg" alt="Adresa rezidence" class="me-4 me-xl-5"></div>
        <p class="lead text-primary mb-0"><strong><a href="mailto:info@prumrent.cz" class="text-decoration-none">info@prumrent.cz</a></strong></p>
      </div>
      <div class="col-md-6 col-xl-4 d-flex align-items-center">
        <div><img src="/assets/images/ico-location.svg" alt="Adresa rezidence" class="me-4 me-xl-5"></div>
        <p class="lead text-primary mb-0"><strong>Radniční 231/4<br>787 01 Šumperk</strong></p>
      </div>
      <div class="col col-sm-4 col-xl pt-4">
        <p class="small">Prumrent s.r.o.<br>Dr. E. Beneše 1831/12<br>787 01 Šumperk</p>
      </div>
      <div class="col-auto col-sm-4 col-xl pt-4">
        <p class="small">IČ: 06636501<br>DIČ: CZ06636501</p>
      </div>
    </div>
  </div>
  <div class="copyright py-4">
    <div class="container">
      <div class="row mb-n1 gy-3">        
        <div class="col-lg-6 text-center">
          <p class="mb-0">Vše uvedené na webu je&nbsp;informativní a&nbsp;není návrhem na uzavření smlouvy. Vizualizace, půdorysy, standardy, půdorysy a&nbsp;fotografie jsou pouze orientační, kdy&nbsp;reálné provedení se&nbsp;může lišit.</p>
        </div>
        <div class="col-sm order-lg-first text-center text-sm-start">
          <span class="fs-6 me-4">Sledujte nás</span>
          <a href="https://www.facebook.com/RezidenceMorava" target="_blank" class="d-inline-block"><img src="/assets/images/ico-facebook.svg" alt="Facebook Rezidence Radniční"></a>
          <a href="https://www.linkedin.com/company/prumrent-real-group/" target="_blank" class="d-inline-block"><img src="/assets/images/ico-linkedin.svg" alt="Facebook Rezidence Radniční"></a>
        </div>
        <div class="col-sm text-gray-600 text-center text-sm-end">
          {{ SITE.copyright | safe }}
        </div>
      </div>
      
    </div>
  </div>
</footer>
