@use 'sass:map';
@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/mixins';
@import './variables';
@import './temp/assets/css/fonts';

// Importy komponent
// --------------

// Přetížení Bootatrapu
// --------------

// Set minimum reasonable width on very small devices

body {
  min-width: 320px;

  @include media-breakpoint-up(xl) {
    font-size: $font-size-base * 1.125;
  }
}

// Remove viod in the bottom of the alert component
.alert {
  p:last-child,
  ol:last-child,
  ul:last-child {
    margin-bottom: 0;
  }
}

// Reset for SVG images in `<img src=""`
img:not([src$='.svg']) {
  max-width: 100%;
  height: auto;
}

// Záhlaví webu
// --------------

.o-header {
  padding-left: map.get($spacers, 2);
  color: var(--bs-dark-text-emphasis);
  @include transition();

  @include media-breakpoint-up(md) {
    padding-left: map.get($spacers, 3);
  }

  @include media-breakpoint-up(xl) {
    padding-left: map.get($spacers, 5);
    padding-right: map.get($spacers, 4);
  }

  &.scroll {
    background: var(--bs-secondary);
    box-shadow: $box-shadow-lg;
  }

  &:not(.scroll) {
    padding-top: map.get($spacers, 2);
    padding-bottom: map.get($spacers, 2);

    @include media-breakpoint-up(xl) {
      padding-top: map.get($spacers, 4);
      padding-bottom: map.get($spacers, 4);
    }
  }
}

.navbar-brand img {
  height: 76px;
  @include transition();

  @include media-breakpoint-down(xl) {
    height: 60px;
  }
}

.scroll .navbar-brand img {
  height: 54px;
}

.navbar-nav {
  font-family: $headings-font-family;

  @include media-breakpoint-up(xl) {
    --bs-navbar-nav-link-padding-x: 1.25rem;
    font-size: $font-size-base * 1.25;
  }

  @include media-breakpoint-only(xxl) {
    --bs-navbar-nav-link-padding-x: 1.5rem;
  }

  @include media-breakpoint-only(lg) {
    --bs-navbar-nav-link-padding-x: 1rem;
    font-size: $font-size-base * 1.125;
  }

  @include media-breakpoint-down(lg) {
    font-size: $font-size-base * 1.125;
  }
}

// Hlavní obsah
// --------------

.o-main {
  background: url('../images/bg-main.svg') 0 100% repeat-x;

  ul {
    margin-bottom: $paragraph-margin-bottom;
  }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  text-transform: uppercase;
}

h1 {
  font-size: calc(2.25rem + 2.65vw);
}

b,
strong {
  font-weight: $font-weight-bold;
}

.btn {
  text-transform: uppercase;
}

.btn-primary {
  color: var(--bs-secondary);
}

.lead {
  @include media-breakpoint-down(xl) {
    font-size: $font-size-base * 1.125;
  }
}

.suptitle {
  display: block;
  margin-bottom: map.get($spacers, 4);
  font-weight: $font-weight-medium;
  font-size: $font-size-base * 1.5;
  color: var(--bs-white);
}

.section {
  padding-top: map.get($spacers, 6) * 1.25;
  padding-bottom: map.get($spacers, 6) * 0.75;

  @include media-breakpoint-down(lg) {
    padding-top: map.get($spacers, 6) * 1.125;
    padding-bottom: map.get($spacers, 4);
  }

  @include media-breakpoint-only(xs) {
    padding-left: map.get($spacers, 2);
    padding-right: map.get($spacers, 2);
  }
}

.bg-sixrow {
  @include media-breakpoint-up(sm) {
    background: url('../images/bg-sixrow.svg') 0 50% repeat-x;
  }
}

.bg-tworow {
  background-image: url('../images/bg-tworow.svg');
  background-position: 0 100%;
  background-repeat: repeat-x;
}

.btn {
  border-radius: 0 $border-radius-pill $border-radius-pill 0;
}

.cta-main {
  background: url('../images/bg-tworow.svg') 0 100% var(--bs-primary);
}

.carousel-indicators [data-bs-target] {
  border-radius: $border-radius-pill;

  &:not(.active) {
    background: var(--bs-white);

    &:hover {
      opacity: 0.5;
    }
  }
}

.carousel-control-prev,
.carousel-control-next {
  height: 60px;
  background: var(--bs-white);
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 0 $border-radius-pill $border-radius-pill 0;
}

.carousel-control-next {
  border-radius: $border-radius-pill 0 0 $border-radius-pill;
}

.img-rounded {
  position: relative;
  overflow: hidden;
  border-radius: $border-radius-pill $border-radius-pill 0 0;

  &::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 25%;
    left: 0;
    bottom: 0;
    content: '';
    @include gradient-y(
      rgba(map.get($theme-colors, 'secondary'), 0),
      rgba(map.get($theme-colors, 'secondary'), 1),
      0%,
      100%
    );
  }
}

// Zápatí webu
// --------------

.o-footer {
  padding-top: map.get($spacers, 6) * 1.25;
  background: var(--bs-gray-800);
}

.copyright {
  font-size: $font-size-base * 0.75;
  background: var(--bs-gray-900);
}

.text-gray-600 {
  color: var(--bs-gray-600);
}
