@use 'sass:map';
@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/mixins';
@import './variables';
@import './temp/assets/css/fonts';

// Importy komponent
// --------------

// Přetížení Bootatrapu
// --------------

// Set minimum reasonable width on very small devices

body {
  min-width: 320px;
}

// Remove viod in the bottom of the alert component
.alert {
  p:last-child,
  ol:last-child,
  ul:last-child {
    margin-bottom: 0;
  }
}

// Reset for SVG images in `<img src=""`
img:not([src$='.svg']) {
  max-width: 100%;
  height: auto;
}

// Záhlaví webu
// --------------

.o-header {
  color: var(--bs-dark-text-emphasis);

  &[data-bs-theme='dark'] {
    background-color: #0a1d39;
  }

  .navbar {
    --bs-navbar-brand-color: var(--bs-orange);
    --bs-navbar-brand-hover-color: var(--bs-link-hover-color);
  }
}

.navbar-nav {
  --bs-nav-link-color: var(--bs-orange);
  --bs-nav-link-hover-color: var(--bs-link-hover-color);
}

// Hlavní obsah
// --------------

.o-main {
  background-color: var(--bs-tertiary-bg);

  h1 {
    padding-bottom: 0.5rem;
    line-height: 0.9;
    letter-spacing: 0.15rem;

    // prettier-ignore
    background-image: linear-gradient(130deg, var(--bs-red) 20%, var(--bs-orange) 40%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

// Zápatí webu
// --------------

.o-footer {
  padding-top: map.get($spacers, 5);
  padding-bottom: map.get($spacers, 3);
  color: map.get($grays, '600');
}
