@use 'sass:map';
@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/mixins';
@import './variables';
@import './temp/assets/css/fonts';

// Importy komponent
// --------------

// Přetížení Bootatrapu
// --------------

// Set minimum reasonable width on very small devices

body {
  min-width: 320px;

  @include media-breakpoint-up(xl) {
    font-size: $font-size-base * 1.125;
  }
}

// Remove viod in the bottom of the alert component
.alert {
  p:last-child,
  ol:last-child,
  ul:last-child {
    margin-bottom: 0;
  }
}

// Reset for SVG images in `<img src=""`
img:not([src$='.svg']) {
  max-width: 100%;
  height: auto;
}

// Záhlaví webu
// --------------

.o-header {
  color: var(--bs-dark-text-emphasis);

  &[data-bs-theme='dark'] {
    background-color: #0a1d39;
  }

  .navbar {
    --bs-navbar-brand-color: var(--bs-orange);
    --bs-navbar-brand-hover-color: var(--bs-link-hover-color);
  }
}

.navbar-nav {
  --bs-nav-link-color: var(--bs-orange);
  --bs-nav-link-hover-color: var(--bs-link-hover-color);
}

// Hlavní obsah
// --------------

.o-main {
  background: url('../images/bg-main.svg') 0 100% repeat-x;

  ul {
    margin-bottom: $paragraph-margin-bottom;
  }
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
  text-transform: uppercase;
}

b, strong {
  font-weight: $font-weight-bold;
}

.btn {
  text-transform: uppercase;
}

.btn-primary {
  color: var(--bs-secondary);
}

.suptitle {
  display: block;
  margin-bottom: map.get($spacers, 4);
  font-weight: $font-weight-medium;
  font-size: $font-size-base * 1.5;
  color: var(--bs-white);
}

.section {
  padding-top: map.get($spacers, 6);
  padding-bottom: map.get($spacers, 6);
}

.bg-sixrow {
  background: url('../images/bg-sixrow.svg') 0 50% repeat-x;
}

.btn {
  border-radius: 0 $border-radius-pill $border-radius-pill 0;
}

// Zápatí webu
// --------------

.o-footer {
  padding-top: map.get($spacers, 5) * 1.25;
  background: var(--bs-gray-800);
}

.copyright {
  font-size: $font-size-base * .75;
  background: var(--bs-gray-900);
}

.text-gray-600 {
  color: var(--bs-gray-600);
}